In [4]:
import os
import pandas as pd

def load_csv_dataframes(folder_path):
    """
    Load all CSV files from the specified folder into DataFrames.

    Parameters:
    folder_path (str): Path to the folder containing the CSV files.

    Returns:
    dict: A dictionary with file names (without extensions) as keys and DataFrames as values.
    """
    dataframes = {}

    # Iterate through all files in the folder
    for file_name in os.listdir(folder_path):
        if file_name.endswith('.csv'):  # Check if the file is a CSV
            file_path = os.path.join(folder_path, file_name)
            try:
                # Load the CSV file into a DataFrame
                df = pd.read_csv(file_path)
                # Add the DataFrame to the dictionary
                base_name = os.path.splitext(file_name)[0]  # Remove the extension
                dataframes[base_name] = df
            except Exception as e:
                print(f"Error loading {file_name}: {e}")

    return dataframes

# Example usage
folder = "Datas"  # Path to your folder containing CSV files
dfs = load_csv_dataframes(folder)

# Access individual DataFrames by their file names
for name, df in dfs.items():
    print(f"Loaded {name}: {df.shape} rows and columns")

Loaded Table 3  Species by kingdom and class - show all: (74, 16) rows and columns
Loaded Table 4a Animal species (kingdom Animalia) by class and order - show all: (283, 16) rows and columns
Loaded Table 4b Plant species (kingdom Plantae) by class and family - show all: (520, 16) rows and columns
Loaded Table 4c Fungus species (kingdom Fungi) by class and order - show all: (50, 16) rows and columns
Loaded Table 4d Chromist species (kingdom Chromista) by class and order - show all: (7, 16) rows and columns
Loaded Table 5  Threatened species in each major group by country - show all: (250, 12) rows and columns
Loaded Table 6a Animal species (kingdom Animalia) by country - show all: (250, 16) rows and columns
Loaded Table 6b Plant species (kingdom Plantae) by country - show all: (250, 16) rows and columns
Loaded Table 6c Fungus species (kingdom Fungi) by country - show all: (250, 16) rows and columns
Loaded Table 6d Chromist species (kingdom Chromista) by country - show all: (250, 16) rows and columns

In [3]:
df = pd.read_csv('Datas/Table 3  Species by kingdom and class - show all.csv')
df.head()

,Name,EX,EW,Subtotal (EX+EW),CR(PE),CR(PEW),Subtotal (EX+EW+ CR(PE)+CR(PEW)),CR,EN,VU,Subtotal (threatened spp.),LR/cd,NT or LR/nt,LC or LR/lc,DD,Total
0,ACTINOPTERYGII,90,11,101,143,8,252,768,"1,326","1,497","3,591",0,874,"17,274","5,031","26,871"
1,AMPHIBIA,37,2,39,184,1,224,798,"1,266",809,"2,873",0,452,"3,737",908,"8,009"
2,ANTHOZOA,0,0,0,2,0,2,32,247,58,337,0,31,432,149,949
3,ARACHNIDA,9,0,9,22,0,31,79,117,87,283,0,28,400,67,787
4,ASTEROIDEA,0,0,0,0,0,0,1,0,0,1,0,0,0,0,1

## IUCN Red List Categories and Descriptions

The IUCN Red List categorizes species based on their risk of extinction. Below are the main categories:

- **EX - Extinct**: The species is no longer observed despite exhaustive surveys in its known habitat.
- **EW - Extinct in the Wild**: Survives only in captivity, cultivation, or reintroduced populations outside its historical range.
- **CR - Critically Endangered**: Faces an extremely high risk of extinction in the immediate future.
  - **CR(PE)**: Possibly Extinct – Likely extinct but requires confirmation.
  - **CR(PEW)**: Possibly Extinct in the Wild – Likely extinct in the wild but alive in captivity.
- **EN - Endangered**: Faces a very high risk of extinction in the near future.
- **VU - Vulnerable**: Faces a high risk of extinction in the medium term.
- **NT - Near Threatened**: Close to meeting the criteria for a threatened category.
- **LC - Least Concern**: Widespread and abundant, not at risk of extinction.
- **DD - Data Deficient**: Insufficient data to assess the risk of extinction.
- **LR/cd - Lower Risk/conservation dependent**: Not currently threatened but dependent on ongoing conservation efforts.

**Note**: CR(PE) and CR(PEW) are not official IUCN categories but are used to highlight potentially extinct species.

Visit the [IUCN Red List website](https://www.iucnredlist.org) for more information.